<section class="pt-5">
  <div class="form-container">
    <h2 class="text-center">Reset Password</h2>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" formControlName="password" 
        [class.is-valid]="_password.valid" 
        [class.is-invalid]="_password.invalid && _password.touched">
        @if (_password.hasError('required')) {
            <span class="text-danger">Password is required</span>
        } @else if (_password.hasError('pattern')) {
            <span class="text-danger">Password must contain at least 8 characters, including uppercase, lowercase, number, and special character</span>
        }
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" 
        [class.is-valid]="_confirmPassword.valid" 
        [class.is-invalid]="_confirmPassword.invalid && _confirmPassword.touched">
        @if (_confirmPassword.hasError('required')) {
            <span class="text-danger">Please confirm your password</span>
        } @else if (_confirmPassword.hasError('passwordMismatch')) {
            <span class="text-danger">Passwords do not match</span>
        }
      </div>

      <button type="submit" class="btn-register" [disabled]="formGroup.invalid">Reset Password</button>

    </form>
  </div>
</section>