.navbar {
  color: white;
}

.navbar a {
  color: white;
}

.navbar .nav-link {
  color: white;
  &.active {
    color: #0056b3;
  }
}

.dropdown-menu {
  background-color: #007bff; /* Primary background color */
  top: 100%; /* Position dropdown below the button */
  left: auto;
  right: 0; /* Align dropdown to the right under the button */
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  color: white; /* Ensure text is visible on primary background */
  width: auto; /* Adjust width to fit content */
  min-width: 10rem; /* Set a minimum width for consistency */
}

.dropdown-item {
  color: white; /* Ensure dropdown items are visible */
}

.dropdown-item:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}